html {
    overflow-y: scroll; /* 스크롤바 항상 표시 */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 헤더 그림자 추가 */
}

.header-container {
    display: flex;
    align-items: flex-end; /* 세로 아래 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    width: 100%; /* 부모 요소의 전체 너비를 사용 */
    max-width: 900px; /* 필요 시 최대 너비 제한 */
    margin: 0 auto; /* 부모 요소 내에서 가운데 정렬 */
}

.header-logo img {
    height: 120px; /* 이미지 크기 조정 */
    margin-right: 20px; /* 이미지와 리스트 간 간격 */
}

nav {
    flex: 1;
}

.nav-list {
    display: flex;
    gap: 30px; /* 리스트 항목 간 간격 */
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    position: relative;
}



.nav-list a {
    text-decoration: none;
    color: #004A8F;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

.nav-list li:hover > a {
    color: transparent;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% auto;
    animation: rainbow-flow 3s linear infinite;
}

/* 일반적인 a 태그에는 기본 스타일 적용 */
a {
    text-decoration: none;
    color: inherit; /* 부모 요소의 색상을 상속 */
    font-size: inherit; /* 부모 요소의 폰트 크기를 상속 */
}

@keyframes rainbow-flow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.nav-list ul {
    display: none;
    position: absolute;
    top: 100%; /* 부모 li 바로 아래 */
    left: 0;
    background-color: #ffffff; /* 하위 메뉴 배경 */
    list-style: none;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.nav-list li:hover > ul {
    display: block;
}

.nav-list ul li {
    margin: 0;
}

.nav-list ul li a {
    width: 90px;
    font-size: 0.9rem;
    color: #004A8F;
    padding: 0px 0px;
    display: block;
}

footer {
    background-color: #2b2b2b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        padding: 10px;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }
}